{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block title %}
Create Survey Form
{% endblock %}

{% block head %}
{% render_bundle 'create_survey' %}
<link rel="stylesheet" href="{% static 'survey/create_survey.css' %}" type="text/css" media="screen" />
<script type="text/javascript">
  // Gets variables from django templating
  var mode = "{{mode}}"
  if (mode === "edit"){
  	var id = "{{id}}"
  }
</script>
{% endblock %}

{% block content %}

  <h1 class="title">
    {% if mode == "edit" %}
      Edit your survey
    {% elif mode == "create" %}
      Create a new survey
    {% endif %}
  </h1>
  <div id="error-main"></div>
  <div class="surveyBuilder" >

      <div class="info" >
	  <div>
	      <input id="surveyTitle" class="row" type="text" placeholder="title" name="survey_title" >
	  </div>
	  <div>
	      <input id="surveyDescription" class="row" type="text" placeholder="description" name="survey_title" >

	      <input id="surveyDate" class="row datePicker" type="text" placeholder="Please enter a date" name="survey_date" >
	  </div>
      </div>

      <hr>
      
      <div id ="questions"  class="questions">
      </div>

      <hr>
      <div class="controls" >
	  <div class="newQuestionDiv" >
	      <div class="newQuestionOptions row" >
		  <button class="button button-outline column" id="btnNewTextQuestion">New Text Question</a>
	      <!-- 	  <button class="button button-outline column" id="btnNewMultipleChoiceQuestion">New Multiple Choice Question</a> -->
	      <!-- </div> -->
	  </div>
	  <div>
	    <a class="button" id="btnSubmit">Create Survey</a>
	  </div>
      </div>

  </div>
{% endblock %}
