{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block title %}
Create Survey Form
{% endblock %}

{% block head %}
{% render_bundle 'assets' %}
<link rel="stylesheet" href="{% static 'survey/create_survey.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
  <div class="surveyBuilder" >

      <div class="info" >
	  <div>
	      <input id="surveyTitle" type="text" placeholder="title" name="survey_title" >
	  </div>
	  <div>
	      <input id="surveyDescription" type="text" placeholder="description" name="survey_title" >
	  </div>
      </div>

      <div id ="questions"  class="questions">
      </div>

      <div class="controls" >
	  <div class="newQuestionDiv" >
	      <p id="newQuestion">New Question</p>
	      <div class="newQuestionOptions" >
		  <a id="btnNewTextQuestion">Text</a>
		  <a id="btnNewMultipleChoiceQuestion">Multiple Choice</a>
	      </div>
	  </div>
	  <div>
	      <button type="button" id="btnSubmit">Create Survey</button>
	  </div>
      </div>

  </div>
{% endblock %}
