
{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
{{survey.name}}
{% endblock %}

{% block head %}
{% render_bundle 'fill' %}
<link rel="stylesheet" href="{% static 'survey/fill.css' %}" type="text/css" media="screen" />
<script type="text/javascript">
var id = {{survey.id}}
</script>
{% endblock %}


{% block content %}

<div class="survey">
    <div id="survey-fill-in-form">

    </div>
    <div id="survey-controls" class="row" > 
	<a class="button column column-25" id="btnSubmit">Submit Answers</a>
    </div>
</div>

{% endblock %}
