
{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
Survey
{% endblock %}

{% block head %}
{% render_bundle 'index' %}
<link rel="stylesheet" href="{% static 'survey/index.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="survey-list">
    {% if surveys|length < 1 %}
    <h3 class="center">There are no surveys at the moment, please check back later</h3>
    {% else %}
    {% for survey in surveys %}

    <div class="survey-list-item" >

	<h4>{{ survey.name }}</h4>
	{% if survey.description != "" %}
	<p>{{ survey.description}}</p>
	{% endif %}
	<p>{{ survey.date }}</p>
	<p>Created by {{ survey.author.first_name }}</p>

	<div class="survey-buttons row" >
	    <a class="button column" href="{% url 'survey:survey_fill' survey.id %}">Fill</a>
	    <a class="button column" href="{% url 'survey:survey_results' survey.id %}">Results</a>
	    {% if survey.author == user %}
	    <a class="button column" href="{% url 'survey:survey_create' survey.id %}">Duplicate</a>
	    <a class="button btnDeleteSurvey column" data-survey-id="{{ survey.id}}">Delete</a>
	    {% endif %}
	</div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
