/* Questions */

body {
    text-align: center;
}

.title {
    margin-top: 10px;
}

.surveyBuilder {
}


.question {
    padding: 15px;
}

.questionText {

}

.button {
    margin: 5px;
}

#btnSubmit {
    max-width: 300px;
}

.errors {
    color: red;
    margin-bottom: 2px;
}

.control-down {
    flex: 0 0 20%;
    max-width: 20%;
}

.question-controls {
    margin: auto;
    max-width: 400px;
}

.ui-datepicker {
    background-color: #9B4DCA;
    padding: 10px;
    color: white;
}

.ui-datepicker-title {
    margin-top: 5px;
}

span.ui-icon {
    color: white;
}

a.ui-corner-all {
    margin: 10px;
    padding: 5px;
    background-color: gray;
}

a.ui-state-default {
    color: white;
}

#ui-datepicker-div {display: none;}
