/* Questions */

body {
    text-align: center;
}

.title {
    margin-top: 10px;
}

.surveyBuilder {
}


.question {
    padding: 15px;
}

.questionText {

}

.button {
    margin: 5px;
}

#btnSubmit {
    max-width: 300px;
}
