<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" media="screen" />

    <!-- Milligram CSS Framework -->
    <link rel="stylesheet" href="{% static 'css/milligram.min.css' %}" type="text/css" media="screen" />

    <!-- My own css -->
    <link rel="stylesheet" href="{% static 'survey/base.css' %}" type="text/css" media="screen" />

    <!-- jquery -->
    <script src="{% static 'external/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'external/jquery-ui/jquery-ui.min.js' %}"></script>
    {%block head %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
      <ul class="navbar">
	<li><a href="{% url 'survey:index' %}">Home</a></li>
	<li><a href="{% url 'survey:survey_create' %}">Create Survey</a></li>
	<li style="float:right"><a href="{% url 'survey:logout' %}">Logout</a></li>
	<li style="float:right"><a>Hi, {% if user.first_name %}{{ user.first_name }}{% else %}user.name{% endif %}</a></li>
      </ul>

    {% endblock %}
      <div class="container">
	{% block content %}
	{% endblock %}
      </div>
  </body>
</html>
