<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {%block head %}{% endblock %}
    <!-- CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" media="screen" />


    <!-- Milligram CSS Framework -->
    <link rel="stylesheet" href="{% static 'css/milligram.min.css' %}" type="text/css" media="screen" />

    <!-- My own css -->
    <link rel="stylesheet" href="{% static 'survey/base.css' %}" type="text/css" media="screen" />
  </head>
  <body>
    {% block navbar %}
      <ul class="navbar">
	<li><a href="{% url 'survey:index' %}">Home</a></li>
	<li><a href="{% url 'survey:survey_create' %}">Create Survey</a></li>
	<li style="float:right"><a href="{% url 'survey:logout' %}">Logout</a></li>
	<li style="float:right"><a>Hi, {{ user.first_name }}</a></li>
      </ul>

    {% endblock %}
    {% block content %}
    {% endblock %}
  
  </body>
</html>
